@model FamilyBudget.Models.Project
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

<div class="modal-content">
      <div class="modal-header pb-2">
        <h3 class="modal-title">Создание нового проекта</h3>

        <button class="bi bi-x-lg btn" data-dismiss="modal" aria-label="Close"></button>
      </div>

      <form asp-area="" asp-controller="Projects" asp-action="Create">
          <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          <div class="modal-body">
              <div class="form-group row mb-0">
                  <label asp-for="Name" class="col-sm-2 col-form-label"></label>
                  <div class="col-sm-10">
                      <input asp-for="Name" class="form-control" placeholder="введите имя проекта" />
                  </div>
                  <span asp-validation-for="Name"></span>
              </div>
              <div class="form-group mb-0">
                  <input type="hidden" asp-for="OwnerId" value="@UserManager.GetUserId(User)" />
              </div>
          </div>
          <div class="modal-footer p-2">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
              <input type="submit" value="Создать" class="btn btn-success" />
          </div>
      </form>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
