@model IEnumerable<FamilyBudget.Models.Project>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Index</h1>

<div id="projectDeleteModal" class="modal fade">
    <div id="projectDeleteDialogContent" class="modal-dialog modal-dialog-centered modal-lg"></div>
</div>

<div class="list-group">
    @foreach (var item in Model)
    {
        <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            <a class="p-2 projectListItem list-group-item-action flex-grow-1"
               asp-area="" asp-controller="Projects" asp-action="Details" asp-route-id="@item.Id">
                @Html.DisplayFor(modelItem => item.Name)
            </a>

            <a asp-area="" asp-controller="Modal" asp-action="ProjectDelete" asp-route-id="@item.Id" class="projectDelete p-2 ml-3 badge">
                <img src="~/lib/bootstrap/dist/icons/x-lg.svg">
            </a>       
        </div>
    }
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });
            $(".projectDelete").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#projectDeleteDialogContent').html(data);
                    $('#projectDeleteModal').modal('show');
                });
            });
        })
    </script>
}
