@model IEnumerable<FamilyBudget.Models.Project>

@{
    ViewData["Title"] = "Home Page";
}

<div id="projectDeleteModal" class="modal fade">
    <div id="projectDeleteDialogContent" class="modal-dialog modal-dialog-centered modal-lg"></div>
</div>

<div id="projectCreateModal" class="modal fade">
    <div id="projectCreateDialogContent" class="modal-dialog modal-dialog-centered modal-lg"></div>
</div>


@if (Model.Count() == 0)
{
    <p>
        <button type="button" class="btn btn-success btn-lg btn-block projectCreate">
            <i class="bi bi-plus-circle"></i>
            Create new project
        </button>
    </p>
}
else
{
    <p>
        <button type="button" class="btn btn-success projectCreate">
            <i class="bi bi-plus-circle"></i>
            Create new project
        </button>
    </p>
}

<div class="list-group">
    @foreach (var item in Model)
    {
        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
           asp-action="Details" asp-route-id="@item.Id">
            <span class="p-2 projectListItem list-group-item-action flex-grow-1">
                @Html.DisplayFor(modelItem => item.Name)
            </span>

            <i id="@item.Id" class="bi bi-x-lg projectDelete"></i>
        </a>
    }
</div>


@section scripts
{
    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });

            $(".projectCreate").click(function (e) {
                e.preventDefault();
                $.get("Modal/ProjectCreate/" + this.id, function (data) {
                    $('#projectCreateDialogContent').html(data);
                    $('#projectCreateModal').modal('show');
                });
            });

            $(".projectDelete").click(function (e) {
                e.preventDefault();
                $.get("Modal/ProjectDelete/" + this.id, function (data) {
                    $('#projectDeleteDialogContent').html(data);
                    $('#projectDeleteModal').modal('show');
                });
            });
        });
    </script>
}
